@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: roboto;
    display: flex; 
    flex-direction: column;
}

/* Header */
header {
    display: flex;
}
h1 {
    color: #00e3c5;
    text-transform: capitalize;
    word-spacing: 20px;
    letter-spacing: 10px;
    margin: 20px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    width: 70%;
}

#navbar {
    width: 50%;
}

ul {
    background-color: $colorPrincipal;
    font-style: bold;
    padding: 0px 0px;
    width: 100%;
    font-weight: 500;
    display: flex;
    list-style: none;
}

li {
    color: #ffffff;
    font-weight: 500;
    padding: 10px 5px; 
}

.navbar-toggler {
    background-color: $colorPrincipal;
}

#nava {
    color: white;
    font-size: 20px;
}
/* Main */

.presentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.retrato {
    border-radius: 20px;
    margin: 30px;
    border: 2px solid $colorPrincipal;
    height: 400px;
}
.textosIntro {
    color: #1a1a1a;
    width: 60%;
}

.tituloIntro {
    color: $colorPrincipal;
    font-size: 40px;
    margin: 20px 20px 20px 40px;
    
}

.textoIntro {
    font-size: 20px;
    margin: 20px 20px 20px 40px;
}

.pruebaimagen {    
    background-image: url("../media/javierchamorro.png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;

}
.titulo_proyectos {
    color: $colorPrincipal;
    font-size: $tamañoTitulos;
}
.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.proyectosCajas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.caja { 
    width: 30%;
    height: 400px;
    background-color:$colorPrincipal;
    display: flex;
    flex-direction: column;
    border: 2px solid $colorPrincipal;
    border-radius: 20px;
     
}

.imagenProyecto {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.contenidoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenidoTexto h4 {
    color: white;
    margin: 5px;
}

.contenidoTexto p {
    color: white;
    margin: 5px;
}

.botonCaja {
    background-color: white;
    color: $colorPrincipal;
    border: none;
    border-radius: 15px;
    padding: 5px;
}
.whatsapp {
    background-image: url("../media/whatsapp.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    position: fixed;
    bottom: 10px;

}

.whatsapp:hover {
    transform: scale(1.5);
}

/* Sobre Mí */

.sobreMi {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.sobreMi__titulo {
    font-size: $tamañoTitulos;
    color: $colorPrincipal; 
}

.sobreMi__parrafo {
    width: 95%;
    font-size: 20px;
}

.sobreMi__parrafo--item {
    text-decoration: none;
    color: $colorPrincipal;
}

/* Proyectos */

.proyecto {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.proyecto__titulo {
    font-size: $tamañoTitulos;
    color: $colorPrincipal;
    align-self: center;
}

.proyecto__subtitulo {
    color: $colorPrincipal;
}

.proyecto__parrafo--enlace {
    text-decoration: none;
    color: $colorPrincipal;
}

.slider {
    width: 80%;
    align-self: center;
}

/*Contacto*/

.parrafo_Contacto {
    align-self: center;
}

.main_contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.tarjetacontacto {
    width: 100%;
}
/*Footer */

footer {
    background-color: $colorFooter;
    display: flex;
    justify-content: space-between;

}

.textoFooter {
    color: white;
    margin: 20px;
}

.iconosRedes {
margin: 20px;
}
.iconoRed {
    width: 45px;
    margin: 10px;
}
@media all and (max-width: 1000px) {
    .main_contacto {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: center;
    }
}
@media all and (max-width: 576px) {
    h1 {
        font-size: 40px;
    }
    .caja {
        width: 100%;
        margin: 15px 0px 15px 0px;
    }
    .tituloIntro {
        font-size: 60px;
        width: 100%;
        margin: 10px;
    }
    .textoIntro {
        font-size: 30px;
    }
    .textosIntro {
        width: 100%;
    }
}

